.add-icon {
  height: var(--size-20);
  width: var(--size-20);
  position: relative;
}
.iconset3 {
  border-radius: var(--radius-8);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.iconset-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.history-label {
  text-decoration: none;
  flex: 1;
  position: relative;
  line-height: 24px;
  color: inherit;
  display: inline-block;
  min-width: 83px;
  white-space: nowrap;
}
.button2,
.text3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.text3 {
  flex: 1;
  border-radius: var(--boundvariablesdata1);
}
.button2 {
  align-self: stretch;
  border-radius: var(--br-9xs);
  background-color: var(--color-steelblue-100);
  padding: var(--boundvariablesdata4) var(--padding-46xl);
  gap: var(--boundvariablesdata4);
  text-align: center;
  font-size: var(--regular1-size);
  color: var(--white-100);
  font-family: var(--regular);
}
