.frame2 {
  align-self: stretch;
  backdrop-filter: var(--bg-blur-100);
  background: linear-gradient(
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.4)
    ),
    rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-16xl);
  box-sizing: border-box;
  max-width: 100%;
}