.frame-child2 {
  width: 16.938rem;
  height: 64rem;
  position: relative;
  border-radius: var(--br-10xs);
  background-color: var(--white-100);
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  display: none;
}
.vector-icon {
  height: 0.875rem;
  width: 0.875rem;
  position: relative;
  z-index: 1;
}
.frame-parent,
.frame-wrapper,
.vector-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.vector-wrapper {
  flex-direction: row;
  padding: 0 var(--padding-9xs);
}
.frame-parent,
.frame-wrapper {
  align-self: stretch;
}
.frame-parent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-21xl);
}
.frame-wrapper {
  height: 5.875rem;
  flex-direction: row;
  padding: 0 var(--padding-10xs) 0 var(--padding-12xs);
  box-sizing: border-box;
}
.navigation-child {
  background-color: transparent;
  align-self: stretch;
  font-family: var(--font-inter);
  font-size: var(--font-size-sm);
  color: var(--color-black);
  z-index: 1;
}
.frame-child3 {
  height: 1.875rem;
  width: 15.313rem;
  position: relative;
  border-radius: var(--br-10xs);
  background-color: var(--white-100);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  display: none;
}
.user-icon {
  width: 1.438rem;
  height: 1.313rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 2;
}
.user-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.my-account {
  height: 1.875rem;
  width: 5.625rem;
  position: relative;
  line-height: 1.25rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  white-space: nowrap;
  z-index: 2;
}
.rectangle-container {
  align-self: stretch;
  border-radius: var(--br-10xs);
  background-color: var(--white-100);
  border: 1px solid var(--color-gray-200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-20xl);
  gap: var(--gap-2xs);
  z-index: 1;
}
.signout-icon4 {
  width: 1.063rem;
  height: 1.063rem;
  position: relative;
  z-index: 2;
}
.frame-div,
.logout-button {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-7xs);
}
.frame-div {
  flex: 1;
  border-radius: var(--br-10xs);
  background-color: var(--white-100);
  border: 1px solid var(--color-gray-200);
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 var(--padding-22xl);
  gap: var(--gap-sm);
  z-index: 1;
}
.navigation,
.navigation-inner,
.rectangle-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.navigation-inner {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-12xs);
}
.navigation,
.rectangle-group {
  flex-direction: column;
}
.navigation {
  align-self: stretch;
  gap: var(--gap-lgi);
  top: 0;
  z-index: 99;
  position: sticky;
}
.rectangle-group {
  width: 16.938rem;
  border-radius: var(--br-10xs);
  background-color: var(--white-100);
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  padding: var(--padding-xl) var(--padding-2xs) var(--padding-16xl)
    var(--padding-xs);
  gap: var(--gap-723xl);
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1050px) {
  .rectangle-group {
    display: none;
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-4xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .rectangle-group {
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .rectangle-group {
    gap: var(--gap-352xl);
  }
}