.frame-child {
  align-self: stretch;
  height: 64rem;
  position: relative;
  border-radius: var(--br-10xs);
  background-color: var(--white-100);
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  display: none;
}
.vector-icon {
  height: 0.875rem;
  width: 0.875rem;
  position: relative;
  z-index: 1;
}
.content6,
.vector-wrapper {
  flex-direction: row;
  justify-content: flex-start;
}
.vector-wrapper {
  display: flex;
  align-items: flex-start;
  padding: 0 var(--padding-lg);
}
.content6 {
  align-self: stretch;
  border-radius: var(--boundvariablesdata5);
  display: none;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  padding: var(--boundvariablesdata9);
}
.frame-parent,
.frame2,
.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.frame2 {
  width: 17.625rem;
  justify-content: flex-start;
  padding: var(--boundvariablesdata2);
  box-sizing: border-box;
  gap: var(--boundvariablesdata4);
}
.frame-parent,
.sidebar {
  align-self: stretch;
}
.sidebar {
  background-color: var(--white-100);
  border-right: 1px solid var(--black-10);
  box-sizing: border-box;
  justify-content: space-between;
  padding: var(--padding-xs-5) 0 var(--padding-xs-5) 0;
  min-height: 6.438rem;
  z-index: 1;
}
.frame-parent {
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.user-options-child {
  background-color: transparent;
  align-self: stretch;
  font-family: var(--regular);
  font-size: var(--regular-size);
  color: var(--color-black);
  z-index: 1;
}
.frame-item {
  height: 1.875rem;
  width: 15.313rem;
  position: relative;
  border-radius: var(--br-10xs);
  background-color: var(--white-100);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  display: none;
}
.user-icon {
  width: 1.438rem;
  height: 1.313rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 2;
}
.user-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.my-account {
  height: 1.875rem;
  width: 5.625rem;
  position: relative;
  line-height: 1.25rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  white-space: nowrap;
  z-index: 2;
}
.rectangle-group {
  align-self: stretch;
  border-radius: var(--br-10xs);
  background-color: var(--white-100);
  border: 1px solid var(--color-gray-200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-20xl);
  gap: var(--gap-2xs);
  z-index: 1;
}
.signout-icon1 {
  width: 1.063rem;
  height: 1.063rem;
  position: relative;
  z-index: 2;
}
.signout-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-7xs);
}
.rectangle-container {
  flex: 1;
  border-radius: var(--br-10xs);
  background-color: var(--white-100);
  border: 1px solid var(--color-gray-200);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 var(--padding-22xl);
  gap: var(--gap-sm);
  z-index: 1;
}
.user-options,
.user-options-inner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.user-options-inner {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-12xs);
}
.user-options {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-lgi);
}
.user-options-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-xs) 0 var(--padding-smi);
  top: 0;
  z-index: 99;
  position: sticky;
}
.rectangle-parent {
  width: 16.938rem;
  border-radius: var(--br-10xs);
  background-color: var(--white-100);
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-xl) 0 var(--padding-16xl);
  gap: var(--gap-698xl);
  text-align: left;
  font-size: var(--regular-size);
  color: var(--color-black);
  font-family: var(--regular);
}
