.search-bar-icon {
  height: 1.238rem;
  width: 1.475rem;
  position: relative;
  z-index: 2;
}
.minus-square-icon {
  width: 1.25rem;
  height: 1.125rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.search-bar-input-clear {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-11xs);
}
.chattext-icon {
  height: var(--boundvariablesdata7);
  width: var(--boundvariablesdata7);
  position: relative;
  min-height: 1.5rem;
}
.inbox-icon1 {
  width: 1.313rem;
  height: 1.25rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.search-bar-input {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-xl);
  gap: var(--gap-lg-5);
}
.frame-child7 {
  height: 3.188rem;
  width: 65.75rem;
  position: relative;
  border-radius: var(--br-14xl);
  background-color: var(--color-whitesmoke-200);
  display: none;
  max-width: 100%;
}
.search-input-field-child,
.search1 {
  position: relative;
  flex-shrink: 0;
  z-index: 1;
}
.search-input-field-child {
  height: 0.906rem;
  width: 1.088rem;
}
.search1 {
  text-decoration: none;
  width: 3.219rem;
  color: inherit;
  display: inline-block;
}
.search-input-field {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.search-input-field-wrapper {
  width: 5.6rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-12xs);
  box-sizing: border-box;
}
.search-list-icon1 {
  align-self: stretch;
  width: 1.5rem;
  position: relative;
  max-height: 100%;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 1.125rem;
  z-index: 1;
}
.group-div {
  width: 65.75rem;
  border-radius: var(--br-14xl);
  background-color: var(--color-whitesmoke-200);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding-base) var(--padding-9xl) var(--padding-mid)
    var(--padding-29xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
  max-width: 100%;
}
.search-bar,
.search-bar-inner {
  display: flex;
  justify-content: flex-start;
}
.search-bar-inner {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.search-bar {
  width: 73.313rem;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-9xs);
  max-width: calc(100% - 44px);
}
.search-bar-icon-parent {
  position: absolute;
  top: 1.625rem;
  left: 1.125rem;
  width: 86.875rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-smi-9);
  color: var(--color-dimgray);
  font-family: var(--font-abeezee);
}
